@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding: 15px;


    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

header {
    justify-content: center;
}

h1 {
    margin: 15px;
    font-size: 32pt;
}

input {
    width: 60%;
    height: 30px;
    overflow: hidden;
}

li {
    font-size: 30pt;
    font-weight: bold;
    border: 1px solid #000;
    cursor: pointer;
    margin: 15px;

    text-transform: capitalize;

}

form {
    display: inline-block;
    margin: 2%;
    min-width: 420px;
    width: 15%;
    text-align: center;
}

.completa {
    text-decoration: line-through;
    color: #3a3a3a;
}

button {
    font-weight: bolder;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
}